<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body class="container">

<header>
  <% include ../partials/header %>
</header>

<main>
  <div class="jumbotron">
    <h1>Search User</h1>
    <p>Welcome to the managment system app</p>
  </div>
  <div class="jumbotron">
  	<form action="" method="post" >
		  <h4>Search:</h4>
		  <input type="text" name="firstname" placeholder="Mickey"><br><br>
		  <input type="submit" value="Submit">
	  </form>
  </div>
</main>

<footer>
  <% include ../partials/footer %>
</footer>

</body>
</html>