<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron">
        <h1>User Page</h1>
        <p>Welcome to the managment system app</p>
    </div>
    <div class="jumbotron">
    	<ul>
            <% for(var user of users) { %>
                <li><span style="font-weight: 800;">First Name</span>: <%= user.firstname %> - <span style="font-weight: 800;">Last Name</span>: <%= user.lastname -%> </li>
                <li style="list-style: none;"><span style="font-weight: 800;">email</span>: <%= user.email %></li>
            <% } %>
    	</ul>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>