<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body class="container">

<header>
  <% include ../partials/header %>
</header>

<main>
  <div class="jumbotron">
    <h1>Add User</h1>
    <p>Welcome to the managment system app</p>
  </div>
  <div class="jumbotron">
  	<form action="" method="post" >
        <div class="add addName">
          <p>First name:</p>
          <input id="input_search" type="text" name="firstname" value="">
        </div>
        <div class="add addlname">
          <p>Last name:</p>
          <input id="input_search" type="text" name="lastname" value="">
        </div>
        <div class="add addEmail">
          <p>Email:</p>
          <input id="input_search" type="email" name="Email" value="">
        </div>
		  <input type="submit" value="Submit"><br>
	  </form>
  </div>
</main>

<footer>
  <% include ../partials/footer %>
</footer>

</body>
</html>